<!-- <div class="row">

  <div class="col-sm-6">
    <div class="card" style="width:18rem;">
      <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg"
          alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text">card One</p>
            <a href="#" class="btn btn-primary">Go Somewhere</a>
          </div>
    </div>
  </div>

  
      <div class="col-sm-6">
        <div class="card" style="width:18rem;">
          <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg"
              alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">card One</p>
                <a href="#" class="btn btn-primary">Go Somewhere</a>
              </div>
        </div>
      </div>

   </div>    row -->
<!-- <div class="row">
  <div class="w-25 p-3">
    <div class="card-deck">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg"
              alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">card One</p>
                <a href="#" class="btn btn-primary">Go Somewhere</a>
              </div>
              
              <div class="footer">
                <small class="text-muted">last Updated 3 minutes ago</small>
              </div>  
        </div>
      </div>

      <div class="card">
          <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg"
          alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">card One</p>
              <a href="#" class="btn btn-primary">Go Somewhere</a>
          </div>
          
          <div class="footer">
              <small class="text-muted">last Updated 3 minutes ago</small>
          </div>  
      </div>

      </div>
  </div> -->

  <!-- demo -->

  <!--<div class="card-deck" style="width: 68rem">
      <div class="card">
        <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>
<br> <br>
  <div class="card-deck" style="width: 68rem">
      <div class="card">
        <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg" w-25 p-3 alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>-->
  <ul *ngFor='let item of items'>
    <li>
        <div class="card" style="width: 68rem">
            <img class="card-img-top" [src]="item.img" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text"> {{ item.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
    </li>
  </ul>

