<nav class='navbar fixed-top navbar-expand-sm navbar-light blue sticky-top'>
  <ul class='navbar-nav mr-auto'>
    <li class='nav-item'>
      <a href='' style="font-weight: bold;" class='text-white navbar-brand waves-effect'>Lend it up!</a>
    </li>
    <li [hidden]='!key' class="nav-item mr-auto text-white nav-link waves-effect">
        {{ username ? username : "" }}
    </li>
    <li (click)='onLogout()' class='nav-item mr-auto text-white nav-link waves-effect'>
        {{ key ? "Logout" : "" }}
      </li>
  </ul>
</nav>
<ul id="menu" class='categoryul' *ngFor='let category of categories'>
  <li class='categoryli' (click)='onCategorySelect(category)'>
      <div class="card" style="width: 18rem">
          <img class="card-img-top" height='200px;' [src]="category.image" alt="Card image cap">
          <div class="card-body" style='height: 150px;'>
            <h5 class="card-title">{{category.name}}</h5><hr>
            <p class="card-text"> {{ category.description }}</p>
          </div>
          <!--<div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>-->
        </div>
  </li>
</ul>
