<nav class='navbar fixed-top navbar-expand-sm navbar-light blue sticky-top'>
  <ul class='navbar-nav mr-auto'>
    <li class='nav-item'>
      <a href='' style="font-weight: bold;" class='text-white navbar-brand waves-effect'>Sample</a>
    </li>
    <li [hidden]='!key' class="nav-item mr-auto text-white nav-link waves-effect">
        {{ username ? username : "" }}
    </li>
    <li (click)='onLogout()' class='nav-item mr-auto text-white nav-link waves-effect'>
        {{ key ? "Logout" : "" }}
      </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-6">
      <h2>Profile</h2>
      <form #profileForm='ngForm' novalidate (ngSubmit)='onUpload()'>
          <div class='form-group'>
          <img #profilePicture='ngModel'
                name='profilePicture'
                [(ngModel)]='imageUrl'
                [src]="imageUrl">
          </div>
          <input type='file' (change)='processFile($event)' accept='image/*' #pictureInput='ngModel' required [(ngModel)] = 'profileData.profilePicture'
                class='form-control' [class.is-invalid]='pictureInput.invalid && pictureInput.touched' name='pictureInput'>
          <div class='form-group'>
            <label>First name</label>
            <input type='text' #firstName='ngModel' required [(ngModel)] = 'user.firstName'
                class='form-control' [class.is-invalid]='firstName.invalid && firstName.touched' name='firstName'>
            <small class="text-danger" [class.d-none]='firstName.valid || firstName.untouched'>This field is required!</small>
          </div>
          <div class='form-group'>
            <label>Last name</label>
            <input type='text' #lastName='ngModel' required [(ngModel)] = 'user.lastName'
                class='form-control' [class.is-invalid]='lastName.invalid && lastName.touched' name='lastName'>
            <small class="text-danger" [class.d-none]='lastName.valid || lastName.untouched'>This field is required!</small>
          </div>
          <div class='form-group'>
            <label>Contact number</label>
            <input type='text' #contact='ngModel' required [(ngModel)] = 'user.contactNo'
                class='form-control' [class.is-invalid]='contact.invalid && contact.touched' name='contact'>
            <small class="text-danger" [class.d-none]='contact.valid || contact.untouched'>This field is required!</small>
          </div>
          <div class='form-group'>
            <label>CPRN</label>
            <input type='text' #cprn='ngModel' required [(ngModel)] = 'user.cprn'
                class='form-control' [class.is-invalid]='cprn.invalid && cprn.touched' name='cprn'>
            <small class="text-danger" [class.d-none]='cprn.valid || cprn.untouched'>This field is required!</small>
          </div>
          <div class='form-group'>
            <label>Branch</label>
            <select #branch='ngModel' [(ngModel)]='user.branch' name="branch"class="form-control">
                <option *ngFor="let branch of branches">{{branch}}</option>
            </select>
          </div>
          <div class='form-group'>
            <label>Academic year</label>
            <select #year='ngModel' [(ngModel)]='user.academicYear' name="year"class="form-control">
                <option *ngFor="let year of years">{{year}}</option>
            </select>
          </div>
          <button [disabled]='profileForm.invalid' class='btn btn-primary'>Update</button>
        </form>
    </div>
    <div class="col col-md-3"></div>
  </div>
</div>
